/* Basic Structure -------------------------- */

:root{
    color-scheme: light dark;

    background-color: rgb(179, 44, 44);


    /* light theme colors */
    --color-a: #ffffffdd;
    --color-b: #888888dd;

    --color-border: #222222;
    --width-border: 6px;
    --radius-border: 4px;

    --color-text-a: #000000;
    --color-text-b: #222222;

    --color-anchor: #000000;
    --color-anchor-visited: #000000;
    --color-anchor-hover: #000000;
    --color-anchor-active: #000000;

    --color-top-menu: #ffffffff;
    --color-bottom-menu: #888888dd;
}

[data-theme= "dark"] {
    --color-a: #ffffffdd;
    --color-b: #888888dd;

    --color-border: #222222;
    --width-border: 6px;
    --radius-border: 4px;

    --color-text-a: #000000;
    --color-text-b: #222222;

    --color-anchor: #000000;
    --color-anchor-visited: #000000;
    --color-anchor-hover: #000000;
    --color-anchor-active: #000000;

    --color-top-menu: #ffffffff;
    --color-bottom-menu: #888888dd;
}


body {
    display: flex;
    width: 100%;
    padding-right: 20px;
    margin: 0;
    padding: 0;
    font-family: monospace;
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: scroll; 

}

.top-bar-menu{
    top:0;
    right:0;
    display: flex;
    align-content: center;
    width: 100%;
    height:50px;
    background-color: var(--color-top-menu);
    position: fixed;
    z-index: 2;
    pointer-events: none;
}

.top-bar-menu::after{
   content: '';
   position:absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50px; /* Adjust height for the fade-out length */
   transform: translate(0,49.3px);
   background-image: linear-gradient(to bottom, var(--color-top-menu), transparent);
   z-index: 2;
}

.canvas-container {
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: all;
    background-color: transparent
    
}

.lil-gui{
    pointer-events: all
}

.web-container {
    width: 100%;
    text-align: center;
    color: var(--color-text-b);
    overflow:visible;
    z-index: 1;

    scroll-snap-stop: always;
}

#intro {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100vh;
    pointer-events: all;
}

#intro_box {
    background-color: var(--color-b);
    padding: 3vh;
    margin: 12.5vw;
    font-size: max(1.5vh,1.5vw);

    border-width: var(--width-border);
    border-radius: var(--radius-border);
    border-style: solid;
    border-color: var(--color-border);
}

#spacer {
    height: min(75vw,80vh);
    pointer-events: none;
}

#info {
    
    background-color: transparent;
    min-height: 25vh;
    /* padding: 3vh;
    margin-left: 12.5vw;
    margin-right: 12.5vw; */
    font-size: max(1.5vh,1.5vw);

    pointer-events: all;
}

#foot {
    border-top: var(--width-border) solid var(--color-border);
    background-color: var(--color-bottom-menu);
    height: min(10vh,10vw);
}

/* text styles -------------------------- */

::selection{
    background-color: #bbbbbbdd;
}

h1{
    color: var(--color-text-a);

}

a:link{
    color: var(--color-anchor);
    text-decoration: none;
}

a:visited{
    color: var(--color-anchor-visited);
    text-decoration: none;
}

a:hover{
    color: var(--color-anchor-hover);
    text-decoration: underline;
}

a:active{
    color: var(--color-anchor-active);
    text-decoration: none;
}

/* loader ----------------------------*/

#loader {
    position: fixed;
    width: 105%;
    height: 105%;
    z-index: 3;
    background-color: var(--color-a);
}

#spinner{
    border: 5px solid var(--color-border);
    background-color: var(--color-b);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50vh;
    left: 50vw;
    z-index: 2;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
        border-radius: 5%;
    }
    50%{
        transform: rotate(180deg); 
        border-radius: 50%;
    }
    100% { 
        transform: rotate(360deg);
        border-radius: 5%;
    }
}

/* Scrollbar ----------------------------*/

/* width */
::-webkit-scrollbar {
    width: 30px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: var(--radius-border);
    background-color: var(--color-a);
    border-color: var(--color-border);
    border-style: solid;
    border-width: var(--width-border);
    border-top-width: 0;
    border-bottom-width: 0;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-b);
    border-radius: var(--radius-border);
    border-color: var(--color-border);
    border-style: solid;
    border-width: var(--width-border);
  }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-);
    border-radius: var(--radius-border);
    border-color: var(--color-border);
    border-style: solid;
    border-width: var(--width-border);
  }
