/* Basic Structure -------------------------- */

body {
    background-color: #111111;
    overflow-x: hidden;
}

.canvas-container {
    /* center element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    /* fill page */
    width: 100vw;
    height: 100vh;
    /* margin: -8px; */
    /* padding-right: 40px; */
    /* background */
    background-color: #222222;
    
}

.web-container {
    /* center element */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 445vw;
}

/* text styles -------------------------- */

h1{
    font-size: 150%;
    line-height: 60%;
    color: #ffffff
}

a:link{
    color: #00aa00;
    text-decoration: none;
}

a:visited{
    color: #cc6600;
    text-decoration: none;
}

a:hover{
    color: #00ff00;
    text-decoration: none;
}

a:active{
    color: #aa6633;
    text-decoration: none;
}

/* Text Box Overlays -------------------------- */

.colored-box {
    /* positioning per item */
    position: absolute;
    /* appearance*/
    background-color: #ffffff11;
    color: #dddddd;
    border-radius: 5px;
    /* text */
    font-family: monospace;
    white-space: nowrap;
    padding: 2vw;
    /* centering */
    display: flex;
    align-items: center;
    /* holds vertical position when scaling */
    /* margin-top: 0vh; */
    display: inline;
    color: #cccccc


}

/* box instances  -------------------------- */

#panel_hello {
    width: 47.5vw;
    height: 3%;
    left: 11.5%;
    top: 63.5%;
    font-size: 1.8vw;
}

#panel_pitch {
    width: 56.5vw;
    height: 1.1%;
    left: 20%;
    top: 71.12%;
    font-size: 1.8vw;
    text-align: center;
}

#panel_work {
    width: 56.5vw;
    height: 1.1%;
    left: 20%;
    top: 82.6%;
    font-size: 1.8vw;
    text-align: center;
}
